<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.protone.gallery">

    <application>
        <activity android:name=".activity.GalleryActivity"/>
        <activity android:name=".activity.GallerySearchActivity" />
        <activity android:name=".activity.GalleryViewActivity" />
        <activity android:name=".activity.PictureBoxActivity" />
    </application>

</manifest>