<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.protone.note">

    <application>
        <activity android:name=".activity.NoteActivity" />
        <activity android:name=".activity.NoteEditActivity" />
        <activity android:name=".activity.NoteViewActivity" />
    </application>

</manifest>